@model TukangXpress_v2.Models.TRANS_DETAILS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRANS_DETAILS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROJECT_MASTER.project_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROJECT_MASTER.project_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENDOR_DATA.vendor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENDOR_DATA.vendor_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trans_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
