@model IEnumerable<TukangXpress_v2.Models.TRANS_DETAILS>

@{
    ViewBag.Title = "Index";
}

<h2>Transaction</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Vendor ID
        </th>
        <th>
            Project ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trans_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENDOR_DATA.vendordata_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT_MASTER.project_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.trans_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.trans_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.trans_ID })
        </td>
    </tr>
}

</table>
