@model TukangXpress_v2.Models.VENDOR_LOGIN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENDOR_LOGIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vendor_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vendorlogin_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
