@model IEnumerable<TukangXpress_v2.Models.MsCustomer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "MsCustomers", FormMethod.Get))
    {
    <p>
        Search by Email: @Html.TextBox("SearchString") <br /><br />
        <input type="submit" value="Search" />
    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            <center>Customer ID</center>
        </th>
        <th>
            <center>Customer Email</center>
        </th>
        <th>
            <center>Customer Balance</center>
        </th>
        <th>
            <center>Reward Point</center>
        </th>
        <th>
            <center>Password</center>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <center>@Html.DisplayFor(modelItem => item.Customer_ID)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.Customer_Email)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.Customer_Balance)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.Reward_Point)</center>
        </td>
        <td>
            <center>@Html.DisplayFor(modelItem => item.Password)</center>
        </td>
        <td>
            <center>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </center>
        </td>
    </tr>
}

</table>
