@model TukangXpress_v2.Models.VENDOR_DATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENDOR_DATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VENDOR_LOGIN.vendor_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENDOR_LOGIN.vendor_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_ownername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_ownername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vendordata_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
