@model TukangXpress_v2.Models.CUSTOMER_LOGIN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER_LOGIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customerlogin_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
